:root{
    --primary-color: #142d4c;
    --secondary-color: #385170;
    --accent-color: #9fd3c7;
    --text-color: #ececec;
    --heading-font: Arial, Helvetica, sans-serif;
    --body-font: sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: var(--primary-color);
    color: var(--accent-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
}

main {
    display: grid;
    grid-template-columns: auto auto;
}

.form-field{
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    gap: 20px;
    padding: 5px;
}

.purpose-section{
    display: grid;
    grid-template-columns: auto auto;
}

.radios {
   display: grid;
   grid-template-columns: auto;
   justify-items: start;
   padding: 5px;
}

#submit{
    width: 100%;
    margin-top: 15px;
}

.purpose-section span{
   width: 50%;
}

#address {
     grid-column: 1/ span 2;
     display:grid;
     grid-template-columns: auto;
     text-align: center;
     font-weight: bold;
}
#profiles {
 grid-column: 1/ span 2
}

header img {
    border: #142d4c solid 2px;
}

#adventures{
margin-top: 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;

}

#history{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin-top: 10px;
}

figure{
    display: grid;
    grid-template-rows: 50px 20px;
    grid-gap: 10px;
}

figure img {
    width: 120px;
    height: auto;
}



body{
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, article, section {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

.hero {
    position: relative;
}

 h1 {
    position: absolute;
    top:20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}

h2 {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 16px;
    color: #fff;
    width: 100%;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article{
    position: absolute;
    opacity: 0.7;
    background-color: var(--secondary-color);
    bottom: 20px;
    color: #fff;
}

.hero img {
    display: block;
    height: auto;
    width: 100%;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}