:root {
--contrast-text-color:#333;
--dark-background-color: rgb(145, 143, 238);
--title-text-color: rgb(62, 62, 194);
--nav-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--dark-background-color);
    padding: 10px;
}

nav a {
    color:var(--nav-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--title-text-color);
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float:right;
}

p {
   margin: 1rem;
}

main {
    max-width: 840px;
}

aside{
   width: 20rem;
   text-align: center;
   position: relative;
}

aside h2{
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 1.2em;
}

aside img {
    width: 200px;
    height: auto;
}

footer{
    margin-top: 20px;
    border-top: 1px solid rgb(0  0  0 / 0.4);
    text-align: center;
}

/* Class Selector */

.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: var(--dark-background-color);
    color: var(--contrast-text-color);
}

ul.box
{
   padding-left: 2rem;
}